@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Geist Sans", system-ui, sans-serif;
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #09090b;
  color: white;
}
